@tailwind base;
@tailwind components;
@tailwind utilities;



.contact-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.contact-card .name {
  font-weight: bold;
  margin-bottom: 8px;
}

.contact-card .popularity,
.contact-card .id,
.contact-card .oscar,
.contact-card .emmy {
  margin-bottom: 4px;
}
